.planetImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* when targeting (spacecraft selected), show green dotted */
.targeting {
  outline: 2px dotted #7cfc00;
  outline-offset: 10px;
}
